{% extends 'core/index.htm' %}
{% load static %}

{% block script %}
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.quicksand.js"></script>
{% endblock %}


{% block content %}
<!-- Page Content
================================================== --> 
<div class="row">

    <!-- Gallery Items
    ================================================== --> 
    <div class="span12 gallery-single">

        <div class="row">
            <div class="span6">
                <img src="{{ illustration.image.url }}" class="align-left thumbnail" alt="image">
            </div>
            <div class="span6">
                <h2>{{ illustration.title }}</h2>
                <p class="lead">{{ illustration.subtitle }}</p>
                <p>{{ illustration.content }}</p>

                <ul class="project-info">
                    <li><h6>Date:</h6> {{ illustration.created | date:"SHORT_DATE_FORMAT" }}</li>
                    <li><h6>Client:</h6> {{ illustration.client }}</li>
                    <li><h6>Services:</h6> {{ illustration.services.all }}</li>
                    <li><h6>Art Director:</h6> Jane Doe</li>
                    <li><h6>Designer:</h6> Jimmy Doe</li>
                </ul>

                <!-- <button class="btn btn-inverse pull-left" type="button">Visit Website</button> -->
                <a href="{% url 'index' %}" class="pull-left"><i class="icon-arrow-left"></i>Back to Gallery</a>
            </div>
        </div>

    </div><!-- End gallery-single-->

</div><!-- End container row -->

</div> <!-- End Container -->
{% endblock %}