<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Piccolo Theme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS
================================================== -->
	{% load static %}
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom-styles.css' %}"> 
	
	{% block style %}
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}"> 
	{% endblock style %}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="css/style-ie.css"/>
<![endif]-->

	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

	<!-- JS
================================================== -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'js/jquery.custom.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#btn-blog-next").click(function() {
				$('#blogCarousel').carousel('next')
			});
			$("#btn-blog-prev").click(function() {
				$('#blogCarousel').carousel('prev')
			});

			$("#btn-client-next").click(function() {
				$('#clientCarousel').carousel('next')
			});
			$("#btn-client-prev").click(function() {
				$('#clientCarousel').carousel('prev')
			});

		});

		$(window).load(function() {

			$('.flexslider').flexslider({
				animation: "slide",
				slideshow: true,
				start: function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	{% block script %}
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	{% endblock script %}

</head>

<body class="home">
	<!-- Color Bars (above header)-->
	<div class="color-bar-1"></div>
	<div class="color-bar-2 color-bg"></div>

	<div class="container">

		{% include 'core/header.html' %}

		{% block content %}

		<div class="row headline">
			<!-- Begin Headline -->

			<!-- Slider Carousel
		================================================== -->
			<div class="span8">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<a href="#"><img src="{% static 'img/gallery/slider-img-1.jpg' %}" alt="slider" /></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/gallery/slider-img-2.jpg' %}" alt="slider" /></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/gallery/slider-img-3.jpg' %}" alt="slider" /></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/gallery/slider-img-4.jpg' %}" alt="slider" /></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/gallery/slider-img-5.jpg' %}" alt="slider" /></a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Headline Text
		================================================== -->
			<div class="span4">
				<h3>Welcome to Piccolo. <br /> A Big Theme in a Small Package.</h3>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna sit amet blandit.</p>
				<p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
				<a href="#"><i class="icon-plus-sign"></i>Read More</a>
			</div>
		</div>
		<!-- End Headline -->

		<div class="row gallery-row">
			<!-- Begin Gallery Row -->

			<div class="span12">
				<h5 class="title-bg">Recent Work
					<small>That we are most proud of</small>
					<!--<button class="btn btn-mini btn-inverse hidden-phone" type="button">View Portfolio</button>-->
				</h5>

				<!-- Gallery Thumbnails
		================================================== -->

				<div class="row clearfix no-margin">
					<ul class="gallery-post-grid holder">
						{% for illus in illustrations %}
						<!-- Gallery Items -->
						<li class="span3 gallery-item" data-id="id-{{ illus.id }}" data-type="illustration">
							<span class="gallery-hover-4col hidden-phone hidden-tablet">
							<span class="gallery-icons">
								<a href="{{ illus.image.url }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
								<a href="{% url 'gallery_single' illus.id %}" class="item-details-link"></a>
							</span>
							</span>
							<a href="{% url 'gallery_single' illus.id %}"><img src="{{ illus.image.url }}" style='height: 220px; width: 270px' alt="Gallery"></a>
							<span class="project-details"><a href="{% url 'gallery_single' illus.id %}">{{ illus.title }}</a>{{ illus.subtitle }}</span>
						</li>
                  {% empty %}
                  <h3>No works to show :^)</h3>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- End Gallery Row -->

		{% include 'core/bottom-section.html' %}

		{% endblock %}
	</div>
	<!-- End Container -->

	<!-- Footer Area
		================================================== -->

	{% include 'core/footer.html' %}

	<!-- Scroll to Top -->
	<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>

</html>