{% extends 'core/index.htm' %} 
{% load static %} 
{% block content %}
<div class="row gallery-row">
	 <!-- Begin Gallery Row -->

	 <div class="span12">

		  <!-- Gallery Thumbnails
		  ================================================== -->

		  <div class="row clearfix no-margin">
				<ul class="gallery-post-grid holder">

					 <!-- Gallery Item 1 -->
					 <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
						  <span class="gallery-hover-4col hidden-phone hidden-tablet">
								 <span class="gallery-icons">
									  <a href="{% static 'img/gallery/gallery-img-1-full.jpg' %}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
									  <a href="{% url 'gallery_single' %}" class="item-details-link"></a>
								 </span>
						  </span>
						  <a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Gallery"></a>
						  <span class="project-details"><a href="g{% url 'gallery_single' %}">Custom Illustration</a>For an international ad campaign.</span>
					 </li>

					 <!-- Gallery Item 2 -->
					 <li class="span3 gallery-item" data-id="id-2" data-type="illustration">
						  <span class="gallery-hover-4col hidden-phone hidden-tablet">
								 <span class="gallery-icons">
									  <a href="{% static 'img/gallery/gallery-img-1-full.jpg' %}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
									  <a href="{% url 'gallery_single' %}" class="item-details-link"></a>
								 </span>
						  </span>
						  <a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Gallery"></a>
						  <span class="project-details"><a href="{% url 'gallery_single' %}">3 Color Poster Design</a>For a regional festival event.</span>
					 </li>

					 <!-- Gallery Item 3 -->
					 <li class="span3 gallery-item" data-id="id-3" data-type="web">
						  <span class="gallery-hover-4col hidden-phone hidden-tablet">
								 <span class="gallery-icons">
									  <a href="{% static 'img/gallery/gallery-img-1-full.jpg' %}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
									  <a href="{% url 'gallery_single' %}" class="item-details-link"></a>
								 </span>
						  </span>
						  <a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Gallery"></a>
						  <span class="project-details"><a href="{% url 'gallery_single' %}">Ink Pen Illustration</a>Created for a best selling children's book.</span>
					 </li>

					 <!-- Gallery Item 4 -->
					 <li class="span3 gallery-item" data-id="id-4" data-type="video">
						  <span class="gallery-hover-4col hidden-phone hidden-tablet">
								 <span class="gallery-icons">
									  <a href="{% static 'img/gallery/gallery-img-1-full.jpg' %}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
									  <a href="{% url 'gallery_single' %}" class="item-details-link"></a>
								 </span>
						  </span>
						  <a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Gallery"></a>
						  <span class="project-details"><a href="{% url 'gallery_single' %}">Custom Illustration</a>For an international add campaign.</span>
					 </li>

					 <!-- Gallery Item 5 -->
					 <li class="span3 gallery-item" data-id="id-5" data-type="web illustration">
						  <span class="gallery-hover-4col hidden-phone hidden-tablet">
								 <span class="gallery-icons">
									  <a href="{% static 'img/gallery/gallery-img-1-full.jpg' %}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
									  <a href="{% url 'gallery_single' %}" class="item-details-link"></a>
								 </span>
						  </span>
						  <a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Gallery"></a>
						  <span class="project-details"><a href="{% url 'gallery_single' %}">Icon Design</a>Classic retro style illustration.</span>
					 </li>
				</ul>
		  </div>
	 </div>

</div>
{% endblock %}