{% extends "core/index.htm" %}
{% load static %}

{% block content %}
<div class="row headline"><!-- Begin Headline -->

 	<!-- Slider Carousel
    ================================================== -->
    <div class="span8">
    	<div class="flexslider">
          <ul class="slides">
            <li><a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/slider-img-1.jpg' %}" alt="slider" /></a></li>
            <li><a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/slider-img-2.jpg' %}" alt="slider" /></a></li>
            <li><a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/slider-img-3.jpg' %}" alt="slider" /></a></li>
            <li><a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/slider-img-4.jpg' %}" alt="slider" /></a></li>
            <li><a href="{% url 'gallery_single' %}"><img src="{% static 'img/gallery/slider-img-5.jpg' %}" alt="slider" /></a></li>
          </ul>
        </div>
    </div>
    
    <!-- Headline Text
    ================================================== -->
    <div class="span4">
    	<h3>Welcome to Piccolo. <br />
        A Big Theme in a Small Package.</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna sit amet blandit.</p>
        <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</p>
        <a href="#"><i class="icon-plus-sign"></i>Read More</a> 
    </div>
</div><!-- End Headline -->
    
{% include 'core/bottom-section.html' %}

{% endblock %}